.know-more {
    text-decoration: none;
}

.project-cover {
    height: 170px;
}

.project-title{
    height: 60px;
}

.category-tag {
    font-size: 12px;
    height: 20px;
}

.project-desc{
    height: 115px;
}