.inactive .ql-editor {
    padding:0;
    line-height:inherit;
  }
  
  .inactive .ql-editor p {
    padding:inherit;
    margin-bottom:0.5em;
  }
  
  .inactive .ql-toolbar {
    display:none;
  }
  
  .inactive .ql-container.ql-snow {
    border:none;
    font-family:inherit;
    font-size:inherit;
  }

  .icon-bar {
    display: inline-block; 
    margin-left: 1em;
  }

.project-description-icon {
    padding-left: 0.1em;
    padding-right: 0.1em;
    font-size: 0.9em;
    vertical-align: middle;
    cursor: pointer;
}

/* .project-hr {
  height: 1px;
  background-color: #ff0000;
  border: none;
} */

.project-hr {
  border: 0;
  height: 1px;
  background: #770c0c;
  background-image: -webkit-linear-gradient(left, #f8dbdb, #ff0000, #f8dbdb);
  background-image: -moz-linear-gradient(left, #f8dbdb, #ff0000, #f8dbdb);
  background-image: -ms-linear-gradient(left, #f8dbdb, #ff0000, #f8dbdb);
  background-image: -o-linear-gradient(left, #f8dbdb, #ff0000, #f8dbdb);
  }
