.inactive .ql-editor {
    padding:0;
    line-height:inherit;
  }
  
  .inactive .ql-editor p {
    padding:inherit;
    margin-bottom:1.5em;
  }
  
  .inactive .ql-toolbar {
    display:none;
  }
  
  .inactive .ql-container.ql-snow {
    border:none;
    font-family:inherit;
    font-size:inherit;
  }

  .icon-bar {
    display: inline-block; 
    margin-left: 1em;
  }

.project-description-icon {
    padding-left: 0.1em;
    padding-right: 0.1em;
    font-size: 0.9em;
    vertical-align: middle;
}