.inactive .ql-editor {
    padding:0;
    line-height:inherit;
  }
  
  .inactive .ql-editor p {
    padding:inherit;
    margin-bottom:10px;
  }
  
  .inactive .ql-toolbar {
    display:none;
  }
  
  .inactive .ql-container.ql-snow {
    border:none;
    font-family:inherit;
    font-size:inherit;
  }