{% extends "components/main.html" %}

{% block page_body %}

<div class="wrapper"  id="top">
    <div class="center-line">
      <a href="#" class="scroll-icon"><i class="fa fa-caret-up fa-bounce"></i></a>
    </div>

    <!-- Course5i -->
    <div class="row row-1">
      <section>
        <img class="icon" src="static/img/course5i.jpg"></img>
        <div class="details">
          <span class="title">Data Scientist</span>
          <span>Feb 2023 - Present</span>
        </div>
        <hr/>
        <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos vero sapiente voluptas debitis dicta dolore.</p>
        <div class="bottom">
          <a href="#">Read more</a>
          <div>
            <i class='fa fa-briefcase'></i>
            <i> Course5 Intelligence</i>
          </div>
        </div>
      </section>
    </div>

    <!-- Intellipaat -->
    <div class="row row-2">
      <section>
        <img class="icon" src="static/img/intellipaat.jpg"></img>
        <div class="details">
          <span class="title">Adjunct Faculty</span>
          <span>Jan 2023 - Present</span>
        </div>
        <hr/>
        <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos vero sapiente voluptas debitis dicta dolore.</p>
        <div class="bottom">
          <a href="#">Read more</a>
          <div>
            <i class='fa fa-briefcase'></i>
            <i>Intellipaat</i>
          </div>
        </div>
      </section>
    </div>

    <!-- West Pharmaceutical Services -->
    <div class="row row-1">
      <section>
        <img class="icon" src="static/img/westpharma.jpg"></img>
        <div class="details">
          <span class="title">Data Scientist</span>
          <span>Aug 2022 - Feb 2023</span>
        </div>
        <hr/>
        <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos vero sapiente voluptas debitis dicta dolore.</p>
        <div class="bottom">
          <a href="#">Read more</a>
          <div>
            <i class='fa fa-briefcase'></i>
            <i>West Pharmaceutical Services</i>
          </div>
        </div>
      </section>
    </div>
    <div class="row row-1">
      <section>
        <img class="icon" src="static/img/westpharma.jpg"></img>
        <div class="details">
          <span class="title">Associate Data Scientist</span>
          <span>Jul 2020 - Jul 2022</span>
        </div>
        <hr/>
        <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos vero sapiente voluptas debitis dicta dolore.</p>
        <div class="bottom">
          <a href="#">Read more</a>
          <div>
            <i class='fa fa-briefcase'></i>
            <i>West Pharmaceutical Services</i>
          </div>
        </div>
      </section>
    </div>
    <div class="row row-1">
      <section>
        <img class="icon" src="static/img/westpharma.jpg"></img>
        <div class="details">
          <span class="title">Graduate Software Trainee</span>
          <span>Jan 2020 - Jul 2020</span>
        </div>
        <hr/>
        <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos vero sapiente voluptas debitis dicta dolore.</p>
        <div class="bottom">
          <a href="#">Read more</a>
          <div>
            <i class='fa fa-briefcase'></i>
            <i>West Pharmaceutical Services</i>
          </div>
        </div>
      </section>
    </div>
  </div>

  {% endblock %}