<!DOCTYPE html>
<html id="page" class="dark">
  <head>
    <script src="https://unpkg.com/windicss-runtime-dom"></script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    
    
    <!-- Favicon -->
    <link rel="icon" href="https://th.bing.com/th/id/OIP.5fpEn8_U0Yz5ct2HGu4KbAAAAA?w=164&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" type="image/x-icon" />

    {% block page_css %} {% endblock %}
  </head>

  <body class="bg-gray-100 dark:bg-gray-800 block" hidden>
    {% block page_navbar %}
    {% include "components/navbar.html" %}
    {% endblock %}

    {% block page_body %} {% endblock %}

    {% block page_footer %}
    {% include "components/footer.html" %}
    {% endblock %}
  </body>
  
  {% block page_scripts %} {% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</html>
