{% extends "components/main.html" %}

{% block page_body %}
<!-- Include the Quill library -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="../static/js/quill_image_resize.min.js"></script>

<div class="w3-main w3-white">
    <div class="w3-container w3-light-grey" style="padding:100px 16px 50px 50px" id="project-brief">
        <div class="w3-row-padding">
          <div class="w3-col m7">
            <h3>{{project[1]}}</h3>
            <p>
                {{project[2]}}
            </p>
            <p><a href="{{project[5]}}" class="w3-button w3-black"><i class="fa fa-external-link"></i> Explore</a></p>
          </div>
          <div class="w3-col m1">
            <p></p>
          </div>
          <div class="w3-col m4">
            <img class="w3-image w3-round-large" src="./../static/img/{{project[7]}}" alt="Project Cover" width="350">
          </div>
        </div>
      </div>
    
  
    <div class="w3-container" style="padding:16px 75px 50px 75px">
      <h4><strong>Skills/ Technologies</strong></h4>
      <div class="w3-row w3-large">
        <div class="w3-col s6">
          <p><i class="fa fa-fw fa-clock-o"></i> Python</p>
          <p><i class="fa fa-fw fa-clock-o"></i> NLP</p>
          <p><i class="fa fa-fw fa-clock-o"></i> Time Series Forecasting</p>
        </div>
        <div class="w3-col s6">
          <p><i class="fa fa-fw fa-clock-o"></i> Churn Analysis</p>
          <p><i class="fa fa-fw fa-clock-o"></i> Deep Learning</p>
        </div>
      </div>
      <hr>
      <p id="project-id" hidden>{{ project[0] }}</p>
      
      
        <h4>
          <strong>Description</strong>
          <div class="icon-bar">
            <a id="edit-project-description" class="project-description-icon"><i class="fa fa-pencil-square-o" data-toggle="tooltip" data-placement="top" title="Edit"></i></a>
            <a id="save-project-description" class="project-description-icon" data-toggle="tooltip" data-placement="top" title="Save"><i class="fa fa-save"></i></a>
            <a id="cancel-project-description" class="project-description-icon" data-toggle="tooltip" data-placement="top" title="Cancel"><i class="fa fa-ban"></i></a>
          </div>
        </h4> 

        <div id="project-container">
            <div id="project-body">
                {{ project[3]|safe }}
            </div>
        </div>
        <hr/>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>Subscribe to receive updates on available dates and special offers.</p>
        <p><button class="w3-button w3-green w3-third" onclick="document.getElementById('subscribe').style.display='block'">Subscribe</button></p>
        <hr>
    </div>
    
 
<!-- End page content -->
</div>
<script src="./../static/js/project_dashboard.js"></script>

  {% endblock %}